// Heading Color
$heading-color: #292929;

// Text Color
$text-color: #8e8e8e;

// Default Background
$bg-default: #ffaf02;

// Gray Background
$bg-gray: #eef3f6;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #141414;

// Border Color
$border-color: #ebebeb;

// Hover Color
$hover-color: #ffaf02;

// Footer Color
$footer-color: #2d2d2d;

// Secondary Color
$secondary-color: #3c3c3c;